# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# uploads 폴더의 파일들 무시
uploads/*
# .gitkeep 파일은 예외로 허용
!uploads/.gitkeep

# 예외: 폴더 구조를 유지하기 위해 빈 파일을 포함
!.gitkeep
